* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: auto;
  /* max-height: 100vh; */
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  height: 100vh;
  max-width: 500px;
  display: flex;
  gap: 10px;
  background-color: #112047;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url(img/city.webp); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: bottom; */
}

img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

h1.title-name {
  color: #D3D3D3;
}

p.role {
  color: #D3D3D3;
  font-size: 16px;
}

.link-socmed {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  margin-top: 15px;
}

.link-socmed button {
  /* background-color: #28375e; */
  background-image: linear-gradient(to top right, #4d57a0, #28c28a);
  color: #D3D3D3;
  font-size: 20px;
  border: 0;
  padding: 8px 0;
  transition: 350ms ease-in-out;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  animation: ring 2s linear infinite;
  border-radius: 8px;
}

button:hover {
  /* background-color: #28c28a; */
  color: #A8A9AD;
}

.copyright{
  margin-top: 35px;
  color: #D3D3D3;
  position: relative;
}

.emote-spirit{
  width: fit-content;
  height: 18px;
  position: absolute;
  top: 0;
  animation: fire 1.8s linear infinite;
}

@keyframes fire {
  0% {
    top: 0px;
  }
  25% {
    top: 3px;
  }
  50% {
    top: 0px;
  }
  75%{
    top: -3px;
  }
  100%{
    top: 0px;
  }
}

/* @keyframes ring {
  0% {
    box-shadow: 1px 0 4px #D92121;
  }
  50% {
    box-shadow: 1px 0 4px #F28A2E;
  }
  100% {
    box-shadow: 1px 0 4px #00A36C;
  }
} */
span {
  color: #737373;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  animation: text 3s ease-in-out infinite;
}
